.containerBox {
    width: 100%;
    min-height: 100vh;
    background: url("../../image/background2.jpg") no-repeat center center;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.principalBox {
    display: flex;
    flex-direction:column;
    padding: 30px;
    background-color:  rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    /* border: solid 0.5px rgba(255, 255, 255, 0.5); */
    border-radius: 8px;

}
.logo {
    margin: 0 auto 10px auto;
    width: 200px;
    height: 200px;
}
.text {
    font-size: 1rem;
    color: antiquewhite;
    font-family: 'Julius Sans One', sans-serif;
}
.line {
    border-top: solid 1.5px rgb(255, 255, 255);
}
.buttonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    height: 40px;
    width: 90px;
    margin: 10px 5px 0 5px;
    background-color:  rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(151, 151, 151);
    transition: 0.5s;
    box-shadow: 0 2px 50px 10px rgba(96, 96, 96, 0.1);
    border: solid 0.5px white;
    color: aliceblue;
}

