.principalBox {
    margin: 0 auto 10px auto;
    color: black;
    border-radius: 5px;
    border: solid 0.5px rgba(255, 255, 255, 0.201);
    height: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.principalBox:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 15px 10px rgba(0, 0, 0, 0.1);
}

.secundaryBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    border-radius: 5px;
    align-items: center;
}
.nameTitle {
    margin-left: 15px;
    
}
.buttonBox{
    opacity: 0;
    transition: .5s;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    position:absolute;
    margin: 0 auto;
    align-items: center;

}
.buttonBox:hover {
    opacity: 1;
    
}
.subButtonBox {
    display: flex;
    margin-right: 15px;
    align-items: center;

}
.button {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 5px;
    border-radius: 50%;
    background-color: transparent;    
    filter:  opacity(0.6) drop-shadow(0 0 0 rgb(43, 43, 44));
    cursor: pointer;

}

.button:hover {
    background-color: rgb(151, 151, 151);
    transition: 0.5s;
    box-shadow: 0 2px 50px 10px rgba(0, 0, 0, 0.1);
    border: solid 0.5px white;

}
.editBox {
    height: 50px;
    margin: 10px auto;
}